
<div class="col-12 col-md-12">
    <div class=" row">
        <div class="col-12 py-2 px-lg-3 text-light text-center shadow-lg mx-auto" id="fundoMensagem">
            <div class="row">
                <div class="col-12">
                    <h6 id="mensagem"><strong>Compare ofertas de produtos e economize!<br/> Todos os preços sempre atualizados!</strong></h6>
                </div>
                <div class="col-12 col-md-12 d-block d-lg-none">
                    <div class="col-12 col-md-12">
                        <div class="input-group barra-pesquisa" style="width: 100%;" ng-controller="tipoController">
                            <input type="text" class="form-control" ng-model="buscaText" placeholder="Digite sua busca" aria-label="Pesquisar" aria-describedby="botaoPesquisar">
                            <div class="input-group-append">
                                <a class="btn btn-light" type="button" ng-click="buscaProduto(buscaText)" href="#!search" id="botaoPesquisar"><span class="material-icons md-18 text-dark">search</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="carouselPromocao" class="carousel slide d-none d-lg-block" data-ride="carousel">

            <div class="carousel-inner" ng-controler="promocaoController">
                <div class="carousel-item" ng-class="{active:!$index}" ng-repeat="promocaoloja in listaPromocaoLojas">
                    <a href="{{promocaoloja.linkAfiliado}}" target="_blank">
                        <img class="d-block w-100" src="{{promocaoloja.bannerPromocao}}" alt="Primeiro Slide">
                    </a>
                </div>
            </div>

            <div class="carousel-controls">
                <span class="carousel-control-prev" data-target="#carouselPromocao" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </span>
                <ol class="carousel-indicators">
                    <li ng-repeat="promocaoloja in listaPromocaoLojas" data-target="#carouselPromocao" data-slide-to="{{$index}}" ng-class="{active:!$index}"></li>
                </ol>
                <span class="carousel-control-next" data-target="#carouselPromocao" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Próximo</span>
                </span>
            </div>
        
        </div>
    </div>

    <div class="col-12 col-md-12 mt-5" ng-controller="tipoController">
        <ul class="nav justify-content-center" id="tipos">
            <div class="row">
                <li class="nav-item col-6 col-lg-3 text-center" ng-repeat="tipo in listaTipos">
                    <a href="#!{{tipo.nomeTipo.toLowerCase()}}" ng-click="tipoClicado(tipo);">
                        <div class="row justify-content-center">
                            <div class="col-12 col-lg-12 text-center">
                                <span ng-click="tipoClicado(tipo);" class="material-icons md-48 black-color rounded-circle bg-white shadow-lg pt-3" id="{{tipo.nomeTipo.toLowerCase()}}">{{tipo.iconTipo}}</span>
                            </div>
                            <div class="col-12 col-lg-12  text-center">
                                <p class="nav-link"><strong>{{tipo.nomeTipo}}</strong></p>
                            </div>
                        </div>
                    </a>
                </li>
            </div>
        </ul>
    </div>

    <div class="d-block d-lg-none">
            <div class="row justify-content-center" id="titulo-promos"><h3 class="mt-1"><strong>Promoção dia dos namorados</strong></h3></div>
            <div class="row">
                <div id="carouselPromocao" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner" ng-controler="promocaoController">
                        <div class="carousel-item" ng-class="{active:!$index}" ng-repeat="promocaoloja in listaPromocaoLojas">
                            <a href="{{promocaoloja.linkAfiliado}}" target="_blank">
                                <img class="d-block w-100 img-banner" src="{{promocaoloja.bannerPromocaoMobile}}" alt="Primeiro Slide">
                            </a>
                        </div>
                    </div>
                
                
                
                    <div class="carousel-controls">
                        <span class="carousel-control-prev" data-target="#carouselPromocao" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Anterior</span>
                        </span>
                        <ol class="carousel-indicators">
                            <li ng-repeat="promocaoloja in listaPromocaoLojas" data-target="#carouselPromocao" data-slide-to="{{$index}}" ng-class="{active:!$index}"></li>
                        </ol>
                        <span class="carousel-control-next" data-target="#carouselPromocao" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Próximo</span>
                        </span>
                    </div>
                
                </div>
            </div>
    </div>

    <div class="ofertas-main reveall">
        <div class="row">
                <div class="col-12 text-center" id="titulo-ofertas"><h3><b>mais pesquisados</b></h3><hr class="hr-titulo"/></div>
                
                <div class="col-12">
                    <carddeck class="col-12 col-md-12" qtditems="4" idcard="id_card" pagid="1" listaproduto="listaPesquisados" listaloja="listaLojas" listaprodutolojas="listaProdutoLojas"></carddeck>
                </div>
        </div>
        </div>
    </div>

    <div class="row-m-t  b-content reveall">
        <div class=" col-12 text-center">
            <div class="row">
                <div class="col-12 justify-content-center titulo-busca-main">
                    <h3><b>O que você está buscando?</b></h3>
                    <hr class="hr-titulo"/>
                </div>

                <div class="col-12 text-center subtitulo-busca-main">
                    <h6>Selecione uma categoria e veja sugestões de ofertas.</h6>
                </div>

                <div class="col-12 text-center">
                    <button class="btn btn-outline-dark" id="sugestoes" type="button" data-toggle="collapse"  aria-expanded="false" aria-controls="collapseExample" ng-click="defineListaSugestao(nicho)" ng-repeat="nicho in listaNichos" ng-value="nicho.idNicho">{{nicho.nomeNicho}}</button>
                </div>
            </div>
        </div>
        <div class=" col-12 collapse busca-container text-center" id="sugestoesNicho"><!--INICIO DE UM CONTENT-->
            <div class="titulo-busca"><h5>Sugestões para "{{nichoClicado.nomeNicho}}"</h5></div>
            <carddeck class="col-12" qtditems="4" pagid="2" listaproduto="listaSugestao" listaloja="listaLojas" listaprodutolojas="listaProdutoLojas"></carddeck>
        </div><!--FIM DE UM CONTENT-->
    </div>

</div> 
