<form class="form-m-t">
    <div class="row">
        <div class="offset-md-3 col-6 col-md-6">
            
            <div class="form-group">
                <label for="nomeLoja">Nome da loja</label>
                <input type="text" class="form-control" id="nomeLoja" placeholder="Americanas, Magazine Luiza" ng-model="loja.nomeLoja" required>
            </div>

            <button type="submit"ng-click="cadastrarLoja()" class="btn btn-primary">Confirmar</button>
            
        </div>
    </div>
</form>