<form class="form-m-t">
    <div class="row">
        <div class="offset-md-3 col-6 col-md-6">
            
            <div class="form-group">
                <label for="nomeMarca">Marcas de produto</label>
                <input type="text" class="form-control" id="nomeMarca" placeholder="Lg, samsung" ng-model="marca.nomeMarca" required>
            </div>

            <button type="submit"ng-click="cadastrarMarca()" class="btn btn-primary">Confirmar</button>
            
        </div>
    </div>
</form>