<form class="form-m-t">
    <div class="row">
        <div class="offset-md-3 col-6 col-md-6">
            
            <div class="form-group">
                <label for="nomeNicho">Nichos de produto</label>
                <input type="text" class="form-control" id="nomeNicho" placeholder="Informática, eletropotáteis" ng-model="nicho.nomeNicho" required>
            </div>

            <button type="submit"ng-click="cadastrarNicho()" class="btn btn-primary">Confirmar</button>
            
        </div>
    </div>
</form>