<div class="m-t">

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <button type="button"class="nav-link active" id="cadastrarProduto-tab" data-toggle="tab" href="#cadastrarProduto" role="tab" aria-controls="cadastrarProduto" aria-selected="true">Cadastrar Produto</button>
        </li>
        <li class="nav-item">
            <button type="button"class="nav-link" id="cadastrarProdutoLoja-tab" data-toggle="tab" href="#cadastrarProdutoLoja" role="tab" aria-controls="cadastrarProdutoLoja" aria-selected="false">Cadastrar Produto em Loja</button>
        </li>
        <li class="nav-item">
            <button type="button"class="nav-link" id="cadastrarProdutoCategoria-tab" data-toggle="tab" href="#cadastrarProdutoCategoria" role="tab" aria-controls="cadastrarProdutoCategoria" aria-selected="false">Cadastrar Produto em Categoria</button>
        </li>
        <li class="nav-item">
            <button type="button"class="nav-link" id="cadastrarMarca-tab" data-toggle="tab" href="#cadastrarMarca" role="tab" aria-controls="cadastrarMarca" aria-selected="false">Cadastrar Marca</button>
        </li>
        <li class="nav-item">
            <button type="button"class="nav-link" id="cadastrarNicho-tab" data-toggle="tab" href="#cadastrarNicho" role="tab" aria-controls="cadastrarNicho" aria-selected="false">Cadastrar Nicho</button>
        </li>
        <li class="nav-item">
            <button type="button"class="nav-link" id="cadastrarLoja-tab" data-toggle="tab" href="#cadastrarLoja" role="tab" aria-controls="cadastrarLoja" aria-selected="false">Cadastrar Loja</button>
        </li>
        <li class="nav-item">
            <button type="button"class="nav-link" id="cadastrarCategoria-tab" data-toggle="tab" href="#cadastrarCategoria" role="tab" aria-controls="cadastrarCategoria" aria-selected="false">Cadastrar Categoria</button>
        </li>
        <li class="nav-item">
            <button type="button"class="nav-link" id="cadastrarTipo-tab" data-toggle="tab" href="#cadastrarTipo" role="tab" aria-controls="cadastrarTipo" aria-selected="true">Cadastrar Tipo</button>
        </li>
        <li class="nav-item">
            <button type="button"class="nav-link" id="cadastrarTipoCategoria-tab" data-toggle="tab" href="#cadastrarTipoCategoria" role="tab" aria-controls="cadastrarTipoCategoria" aria-selected="false">Cadastrar Tipo/Categoria</button>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade show active" id="cadastrarProduto" role="tabpanel" aria-labelledby="cadastrarProduto-tab">
            <form class="form-m-t-p">
                <div class="row">
                    <div class="offset-md-3 col-6 col-md-6">
                        <div class="form-group">
                            <label for="imagemProduto">Imagem do produto</label>
                            <input type="text" class="form-control" id="imagemProduto" placeholder="Link imagem produto" ng-model="produto.imagemProduto" required>
                        </div>
            
                        <div class="form-group">
                            <label for="nomeProduto">Nome do produto</label>
                            <input type="text" class="form-control" id="nomeProduto" placeholder="Smart Tv" ng-model="produto.nomeProduto" required>
                        </div>
            
                        <div class="form-group">
                            <label for="nomeTipo">Tipo do produto</label>
                            <select class="form-control"  ng-model="produto.idTipo" required>
                                <option value="">Tipo</option>
                                <option  ng-repeat="tipo in listaTipos" ng-value="tipo.idTipo">{{tipo.nomeTipo}}</option>
                            </select>
                        </div>
            
                        <div class="form-group">
                            <label for="nichoProduto">Nicho do produto</label>
                            <select class="form-control" id="nichoProduto"  ng-model="produto.idNicho" required>
                                <option value="">Nicho</option>
                                <option  ng-repeat="nicho in listaNichos" ng-value="nicho.idNicho">{{nicho.nomeNicho}}</option>
                            </select>
                        </div>
            
                        <div class="form-group">
                            <label for="marcaProduto">Marca</label>
                            <select class="form-control" id="marcaProduto" ng-model="produto.idMarca" required>
                                <option value="">Marca</option>
                                <option  ng-repeat="marca in listaMarcas" ng-value="marca.idMarca">{{marca.nomeMarca}}</option>
                            </select>
                        </div>
            
                        <div class="form-group">
                            <label for="descricaoProduto">Descrição</label>
                            <textarea class="form-control is-invalid" id="descricaoProduto" placeholder="Descreva o produto" ng-model="produto.descricao" required></textarea>
                        </div>

                        <div class="form-group">
                            <label for="descricaoProduto">Review</label>
                            <textarea class="form-control is-invalid" id="reviewProduto" placeholder="Escreva uma review do produto" ng-model="produto.review" required></textarea>
                        </div>
            
                        <button type="submit"ng-click="cadastrarProduto();" class="btn btn-primary">Confirmar</button>
            
                    </div>
                </div>
            </form>
        </div>

        <div class="tab-pane fade" id="cadastrarProdutoLoja" role="tabpanel" aria-labelledby="cadastrarProdutoLoja-tab">
            
            <form class="form-m-t-p">
                <div class="row">
                    <div class="offset-md-3 col-6 col-md-6">

                        <div class="form-group">
                            <label for="nomeTipo">Tipo do produto</label>
                            <select class="form-control"   ng-model="tipo.idTipo" required>
                                <option value="">Tipo</option>
                                <option  ng-repeat="tipo in listaTipos" ng-value="tipo.idTipo">{{tipo.nomeTipo}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="">Produto</label>
                            <select class="form-control" id="idProduto1" ng-model="produto.idProduto" required>
                                <option value="">Produto</option>
                                <option  ng-repeat="produto in listaProdutos|filter:tipo" ng-value="produto.idProduto">{{produto.nomeProduto}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="lojaProduto">Loja</label>
                            <select class="form-control" id="lojaProduto" ng-model="loja.idLoja" required>
                                <option value="">Loja</option>
                                <option  ng-repeat="loja in listaLojas" ng-value="loja.idLoja">{{loja.nomeLoja}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="linkAfiliadoLoja">LinkAfiliado do produto na loja</label>
                            <input type="text" class="form-control" id="linkAfiliadoLoja" placeholder="Link afiliado do produto na loja" ng-model="loja.linkAfiliado" required>
                        </div>

                        <div class="form-group">
                            <label for="linkLoja">Link do produto na loja</label>
                            <input type="text" class="form-control" id="linkLoja" placeholder="Link do produto na loja" ng-model="loja.link" required>
                        </div>

                        <div class="form-group">
                            <label for="precoProduto">Preço do produto na loja</label>
                            <input type="text" class="form-control" id="precoProduto" placeholder="Preço" ng-model="loja.preco" required>
                        </div>

                        <div class="form-group">
                            <label for="parcelasProduto">Preço do produto parcelado</label>
                            <input type="text" class="form-control" id="parcelasProduto" placeholder="Parcelas" ng-model="loja.parcelas" required>
                        </div>

                        <div class="form-group">
                            <label for="dataAtualizacao">Data de Cadastro</label>
                            <input id="dataAtualizacao" type="date" style="max-width:35%;" class="form-control" placeholder="Data de cadastro" ng-model="loja.dataAtualizacao" required>
                        </div>

                        <button type="submit"ng-click="cadastrarProdutoLoja();" class="btn btn-primary">Confirmar</button>
                    </div>
                </div>
            </form>
            
        </div>

        <div class="tab-pane fade" id="cadastrarProdutoCategoria" role="tabpanel" aria-labelledby="cadastrarProdutoCategoria-tab">

            <form class="form-m-t-p">
                <div class="row">
                    <div class="offset-md-3 col-6 col-md-6">

                        <div class="form-group">
                            <label for="nomeTipo">Tipo do produto</label>
                            <select class="form-control"   ng-model="tipo.idTipo" required>
                                <option value="">Tipo</option>
                                <option  ng-repeat="tipo in listaTipos" ng-value="tipo.idTipo">{{tipo.nomeTipo}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="">Produto</label>
                            <select class="form-control" id="idProduto" ng-model="produto.idProduto" required>
                                <option value="">Produto</option>
                                <option  ng-repeat="produto in listaProdutos|filter:tipo" ng-value="produto.idProduto">{{produto.nomeProduto}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="categoriaProduto">Categoria</label>
                            <select class="form-control" id="categoriaProduto" ng-model="categoria.idCategoria" required>
                                <option value="">Categoria</option>
                                <option  ng-repeat="tipocategoria in listaTipoCategorias|filter:tipo" ng-value="tipocategoria.idCategoria">{{listaCategorias[tipocategoria.idCategoria-1].nomeCategoria}}</option>
                            </select>
                        </div>

                        <button type="submit"ng-click="cadastrarProdutoCategoria();" class="btn btn-primary">Confirmar</button>
                    </div>
                </div>
            </form>

        </div>

        <div class="tab-pane fade" id="cadastrarMarca" role="tabpanel" aria-labelledby="cadastrarMarca-tab">
            <form class="form-m-t-p">
                <div class="row">
                    <div class="offset-md-3 col-6 col-md-6">
                        
                        <div class="form-group">
                            <label for="nomeMarca">Marcas de produto</label>
                            <input type="text" class="form-control" id="nomeMarca" placeholder="Lg, samsung" ng-model="marca.nomeMarca" required>
                        </div>
            
                        <button type="submit"ng-click="cadastrarMarca()" class="btn btn-primary">Confirmar</button>
                        
                    </div>
                </div>
            </form>
        </div>

        <div class="tab-pane fade" id="cadastrarNicho" role="tabpanel" aria-labelledby="cadastrarNicho-tab">
            <form class="form-m-t-p">
                <div class="row">
                    <div class="offset-md-3 col-6 col-md-6">
                        
                        <div class="form-group">
                            <label for="nomeNicho">Nichos de produto</label>
                            <input type="text" class="form-control" id="nomeNicho" placeholder="Informática, eletropotáteis" ng-model="nicho.nomeNicho" required>
                        </div>
            
                        <button type="submit"ng-click="cadastrarNicho()" class="btn btn-primary">Confirmar</button>
                        
                    </div>
                </div>
            </form>
        </div>

        <div class="tab-pane fade" id="cadastrarLoja" role="tabpanel" aria-labelledby="cadastrarLoja-tab">
            <form class="form-m-t-p">
                <div class="row">
                    <div class="offset-md-3 col-6 col-md-6">
                        
                        <div class="form-group">
                            <label for="nomeLoja">Nome da loja</label>
                            <input type="text" class="form-control" id="nomeLoja" placeholder="Americanas, Magazine Luiza" ng-model="loja.nomeLoja" required>
                        </div>
            
                        <button type="submit"ng-click="cadastrarLoja()" class="btn btn-primary">Confirmar</button>
                        
                    </div>
                </div>
            </form>
        </div>

        <div class="tab-pane fade" id="cadastrarCategoria" role="tabpanel" aria-labelledby="cadastrarTipo-tab">
            <form class="form-m-t">
                <div class="row">
                    <div class="offset-md-3 col-6 col-md-6">
                        <div class="form-group">
                            <label for="nomeCategoria">Categorias de produto</label>
                            <input type="text" class="form-control" id="nomeCategoria" placeholder="4k, full hd, led" ng-model="categoria.nomeCategoria" required>
                        </div>
                        <button type="submit"ng-click="cadastrarCategoria()" class="btn btn-primary">Confirmar</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="tab-pane fade" id="cadastrarTipo" role="tabpanel" aria-labelledby="cadastrarTipo-tab">
            <form class="form-m-t">
                <div class="row">
                    <div class="offset-md-3 col-6 col-md-6">
                        
                        <div class="form-group">
                            <label for="nomeTipo">Nome do tipo produto</label>
                            <input type="text" class="form-control"  placeholder="TV, notebook" ng-model="tipo.nomeTipo" required>
                        </div>

                        <button type="submit"ng-click="cadastrarTipo()" class="btn btn-primary">Confirmar</button>
                        
                    </div>
                </div>
            </form>
        </div>

        <div class="tab-pane fade" id="cadastrarTipoCategoria" role="tabpanel" aria-labelledby="cadastrarTipoCategoria-tab">
            <form class="form-m-t">
                <div class="row">
                    <div class="offset-md-3 col-6 col-md-6">
                        
                        <div class="form-group">
                            <label for="">Tipo</label>
                            <select class="form-control" id="idTipo" ng-model="tipo.idTipo" required>
                                <option value="">Tipo</option>
                                <option  ng-repeat="tipo in listaTipos" ng-value="tipo.idTipo">{{tipo.nomeTipo}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="tipoCategoria">Categoria</label>
                            <select class="form-control" id="tipoCategoria" ng-model="categoria.idCategoria" required>
                                <option value="">Categoria</option>
                                <option  ng-repeat="categoria in listaCategorias" ng-value="categoria.idCategoria">{{categoria.nomeCategoria}}</option>
                            </select>
                        </div>

                        <button type="submit"ng-click="cadastrarTipoCategoria();" class="btn btn-primary">Confirmar</button>
                        
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
